{% extends 'home/layout.html.twig' %}

{% block title %} Bienvenue chez CEOS
{% endblock %}

{% block body %}


    {% include "components/organisms/navbar.html.twig" %}
    <section class="home d-flex justify-content-start align-items-center flex-column">
        {% if app.flashes('success') is defined %}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible fade show js-sweetalert" role="alert">
                    <strong>{% trans %}Félicitations{% endtrans %}</strong>
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
        <div class="container align-items-center justify-content-center mt-5">
            <div class="row ">
                <h2 class="col-lg-2 col-md-12 d-lg-block d-none fw-bold display-1 text-shadow text-center text-light" title="conseil">Conseil</h2>
                <span class="col-lg-1 d-lg-block d-none fw-bold display-1 text-shadow text-center text-light">•</span>
                <h2 class="col-lg-2 col-md-12 d-lg-block d-none fw-bold display-1 text-shadow text-center text-light" title="conseil">Etude</h2>
                <span class="col-lg-1 d-lg-block d-none fw-bold display-1 text-shadow text-center text-light">•</span>
                <h2 class="col-lg-3 col-md-12 d-lg-block d-none fw-bold display-1 text-shadow text-center text-light" title="conseil">Optimisation</h2>
                <span class="col-lg-1 d-lg-block d-none fw-bold display-1 text-shadow text-center text-light">•</span>
                <h2 class="col-lg-2 col-md-12 d-lg-block d-none fw-bold display-1 text-shadow text-center text-light" title="conseil">Solution</h2>
            </div> 
        </div>
    
        {# section cardButton #}

        <div id="css" class="container d-flex align-items-center justify-content-center" style="height:60em">
            <div class="row ">
                {% embed "components/molecules/boxButtonCard.html.twig" with {
                                content: "Gestion de patrimoine",
                                font: "chart-line",
                                href:'app_home_index'
                            } %}
                    {% block content %}
                        {% include "components/atoms/buttonCard.html.twig" %}
                    {% endblock %}
                {% endembed %}
                {% embed "components/molecules/boxButtonCard.html.twig" with {
                                content: "Vente Immobiliere",
                                font: "basket-shopping",
                                href:'app_real_estate_salesman'
                            } %}
                    {% block content %}
                        {% include "components/atoms/buttonCard.html.twig" %}
                    {% endblock %}
                {% endembed %}

                {% embed "components/molecules/boxButtonCard.html.twig" with {
                                content: "Gestion locative",
                                font: "house-circle-check",
                                href:'app_home_index'
                            } %}
                    {% block content %}
                        {% include "components/atoms/buttonCard.html.twig" %}
                    {% endblock %}
                {% endembed %}

                {% embed "components/molecules/boxButtonCard.html.twig" with {
                                content: "Assurances",
                                font: "car-burst",
                                href:'app_home_index'
                            } %}
                    {% block content %}
                        {% include "components/atoms/buttonCard.html.twig" %}
                    {% endblock %}
                {% endembed %}

                {% embed "components/molecules/boxButtonCard.html.twig" with {
                                content: "Chef d'entreprise",
                                font: "key",
                                href:'app_home_index'
                                } %}
                    {% block content %}
                        {% include "components/atoms/buttonCard.html.twig" %}
                    {% endblock %}
                {% endembed %}
                {% embed "components/molecules/boxButtonCard.html.twig" with {
                            content: "Fiscalité",
                            font: "house-laptop",
                            href:'app_home_index'
                            } %}
                    {% block content %}
                        {% include "components/atoms/buttonCard.html.twig" %}
                    {% endblock %}
                {% endembed %}
                {% embed "components/molecules/boxButtonCard.html.twig" with {
                                content: "Emprunts",
                                font: "house-fire",
                                href:'app_home_index'
                                } %}
                    {% block content %}
                        {% include "components/atoms/buttonCard.html.twig" %}
                    {% endblock %}
                {% endembed %}
                {% embed "components/molecules/boxButtonCard.html.twig" with {
                                content: "Conciergerie",
                                font: "truck-fast",
                                href:'app_home_index'
                                } %}
                    {% block content %}
                        {% include "components/atoms/buttonCard.html.twig" %}
                    {% endblock %}
                {% endembed %}        
            </div>
        </div>
        {% if app.user.firstname is defined and app.user.firstname is not null %}
            
            <div {{ react_component('UserAccount', { 'firstName' : app.user.firstname ,'fullName' : app.user.name})}}></div>
            
        {% else %}

        <div>Section admin</div>

        {% endif %}
        
        <footer class="row fs-2 text-light text-center">
        <a type="button" class="btn btn-transparent p-0" href={{ path('admin') }}>
            <i class="fa-solid fa-user-tie ceosnav p-1 rounded-circle fs-3"></i>
        </a>
        <div>
            CEOS &copy {{"now" | date("Y")}}
        </div>
        </footer>
        
    </section>
{% endblock %}
{% block name %}
    {% if app.user %}
        <script>
            Swal.fire( {
                position: "top-center",
                icon: "success",
                title: "Vous êtes connecté",
                showConfirmButton: false,
                timerProgressBar: true,
                timer: 3000,
            } );
        </script>
    {% endif %}
{% endblock %}
