{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Inscription{% endtrans %}
{% endblock %}

{% block body %}
<div class="container-fluid d-flex justify-content-center align-items-center" style="height:100vh">
    {% include "/components/atoms/buttonFloat.html.twig" with {
        href:'app_home_index',
        font:'house'
    } %}

    <div class="m-auto justify-content-center d-flex flex-column">
        <h1 class="text-center fw-bold">Je créer mon compte</h1>
        {{ form_start(registrationForm) }}
            <div class="col-6 m-auto p-3 fw-bold fs-3" id="monForm">   
                {{ form_row(registrationForm.name, {label: 'Nom'}) }}
                {{ form_row(registrationForm.firstname, {label: 'Prénom'}) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, { label: 'Mot de passe' }) }}
                {{ form_row(registrationForm.agreeTerms, { label: "J'accepte les conditions" }) }}
            </div> 
                {% embed "components/molecules/boxButtonSubmit.html.twig" with {
                    content: "je m'inscris"
                    } %}
                    {% block content %}
                    <div class="mx-auto">
                        {% include "components/atoms/buttonSubmit.html.twig" %}
                    </div>
                    {% endblock %}
                {% endembed %}   
            <p class="text-center">
                En vous inscrivant, vous acceptez nos 
                <a href="#" class="btn-link" target="_blank">
                conditions d'utilisation
                </a>
                et notre 
                <a href="#" class="btn-link" target="_blank">
                politique de confidentialité et de cookies
                </a>
            </p>
        {{ form_end(registrationForm) }} 
    </div>
    
</div>


{% endblock %}
