html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-size: 62.5%;
  font-size: 10px;
}

/* -- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100 */

/* Modification CSS bootstrap */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: none;
}

/* Navbar section */

.nav {
  width: 100%;
  height: 95px;
  position: fixed;
  line-height: 65px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: all 0.4s ease;
}

.nav div.logo {
  float: left;
  width: auto;
  height: auto;
}

.nav div.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 3rem;
}

.nav div.main-list {
  height: 65px;
  float: right;
}

.nav div.main-list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav div.main-list ul li {
  width: auto;
  height: 65px;
  padding: 0;
  padding-right: 3rem;
}

.nav div.main-list ul li a {
  text-decoration: none;
  color: #494949;
  line-height: 65px;
}

.nav div.main-list ul li a:hover {
  color: $secondary;
}

/* Home section */

.home {
  width: 100%;
  min-height: 100vh;
  background-image: url("/public/images/home/bg1.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 16vh;
}

.ap {
  width: 100%;
  min-height: 100vh;
  background-image: url("/public/images/home/bg1.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 16vh;
}

.nav-trigger {
  display: none;
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: auto;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
}

.border {
  border: 1px solid #000 !important;
}

/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .nav-trigger {
    display: block;
  }

  .nav div.logo {
    margin-left: 15px;
    width: 50px;
    height: 70px;
  }

  .nav div.main-list {
    width: 100%;
    height: 0;
    overflow: hidden;
  }

  .nav div.show-list {
    height: auto;
    display: none;
  }

  .nav div.main-list ul {
    flex-direction: column;
    width: auto;
    background-color: #1111115e;
    border-radius: 10px;
    overflow: hidden;
    line-height: 50px;
    font-size: 40px;
    cursor: pointer;
    transition: all 0.5s;
    margin: auto;

    /* same background color of navbar */
    background-position: center top;
  }

  .nav div.main-list ul li {
    width: 100%;
  }

  .nav div.main-list ul li a {
    text-align: center;
    width: 100%;
    font-size: 3rem;
  }

  .nav div.media-button {
    display: block;
  }
}

/* Animation */

/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.nav-trigger i {
  background-color: #111;
  border-radius: 2px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
}

.nav-trigger i:nth-child(1) {
  animation: out-t 0.8s backwards;
  animation-direction: reverse;
}

.nav-trigger i:nth-child(2) {
  margin: 5px 0;
  animation: out-m 0.8s backwards;
  animation-direction: reverse;
}

.nav-trigger i:nth-child(3) {
  animation: out-btm 0.8s backwards;
  animation-direction: reverse;
}

.nav-trigger.active i:nth-child(1) {
  animation: in-t 0.8s forwards;
}

.nav-trigger.active i:nth-child(2) {
  animation: in-m 0.8s forwards;
}

.nav-trigger.active i:nth-child(3) {
  animation: in-btm 0.8s forwards;
}

@keyframes in-m {
  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@keyframes in-m {
  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@keyframes out-m {
  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@keyframes out-m {
  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@keyframes in-t {
  0% {
    transform: translateY(0) rotate(0deg);
  }

  50% {
    transform: translateY(9px) rotate(0deg);
  }

  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@keyframes in-t {
  0% {
    transform: translateY(0) rotate(0deg);
  }

  50% {
    transform: translateY(9px) rotate(0deg);
  }

  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@keyframes out-t {
  0% {
    transform: translateY(0) rotate(0deg);
  }

  50% {
    transform: translateY(9px) rotate(0deg);
  }

  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@keyframes out-t {
  0% {
    transform: translateY(0) rotate(0deg);
  }

  50% {
    transform: translateY(9px) rotate(0deg);
  }

  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@keyframes in-btm {
  0% {
    transform: translateY(0) rotate(0deg);
  }

  50% {
    transform: translateY(-9px) rotate(0deg);
  }

  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes in-btm {
  0% {
    transform: translateY(0) rotate(0deg);
  }

  50% {
    transform: translateY(-9px) rotate(0deg);
  }

  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes out-btm {
  0% {
    transform: translateY(0) rotate(0deg);
  }

  50% {
    transform: translateY(-9px) rotate(0deg);
  }

  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes out-btm {
  0% {
    transform: translateY(0) rotate(0deg);
  }

  50% {
    transform: translateY(-9px) rotate(0deg);
  }

  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

.affix {
  padding: 0;
  background-color: $dark;
}

.my-h2 {
  text-align: center;
  font-size: 4rem;
}

.my-p {
  text-align: justify;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 20px;
}

@media all and (max-width: 700px) {
  .my-p {
    padding: 2%;
  }
}
