{# templates/login/index.html.twig #}
{% extends 'security/layout.html.twig' %}

{% block title %}
    {% trans %}Connexion{% endtrans %}
{% endblock %}

{% block body %}

    <section id="login" class="container-fluid d-flex flex-column align-items-center justify-content-center" style="min-height: 100vh">
    {% include "/components/atoms/buttonFloat.html.twig" with {
        href:'app_home_index',
        font:'house'
    } %}
        <div class="d-flex gap-2 bg-light p-2 rounded w-75 justify-content-center opacity-75">
            <img src="{{asset('images/logo2.png') | imagine_filter('login')}} " alt="" class="img-fluid d-none d-lg-block">
            <form action="{{ path('app_login') }}" method="post" class="w-100">
                {% if error %}
                    <div class="alert alert-danger text-center" role="alert">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                    <div></div>
                {% endif %}
                <h1 class="display-5">{% trans %}Connexion Espace Administrateur{% endtrans %}</h1>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="username" placeholder="{{ last_username }}" name="_username">
                    <label for="username">{% trans %}Adresse mail{% endtrans %}</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="password" placeholder="Password" name="_password">
                    <label for="password">{% trans %}Mot de passe{% endtrans %}</label>
                </div>
                <div class="d-grid gap-2">
                    <a href="">
                        <span class="text-end d-block">{% trans %}Mot de passse oublié?{% endtrans %}</span>
                    </a>
                    <hr>
                    <button class="btn btn-dark" type="submit">{% trans %}Se connecter{% endtrans %}</button>
                    <span class="text-center d-block my-2">{% trans %}Pas encore membre?{% endtrans %}
                        <a href="{{path('app_register')}}">{% trans %}Inscrivez-vous!{% endtrans %}</a>
                    </span>
                </div>
            </form>
        </div>
    </section>
    <script>
        Swalregister.fire( {
            position: "top-center",
            icon: "success",
            title: "Vous êtes bien inscrit",
            showConfirmButton: false,
            timerProgressBar: true,
            timer: 3000

        } );
    </script>
{% endblock %}
