{% extends 'real_estate_salesman/layout.html.twig' %}

{% block title %}
    Vente Immobilières Détail
{% endblock %}


{% block body %}
{% include "components/organisms/navbar.html.twig" %}
<section class="home d-flex justify-content-start flex-column">
    <div class="container">
        <h1>
            Détail sur votre bien à {{ realEstate.reference }}
        </h1>
        {% if realEstate.image|length > 0 %}
            {% for s in range(realEstate.image,1) %}
                {% set id = loop.index %}
                <div class="col-3 shadow bg-light rounded">
                    <div id="carouselExampleSlidesOnly{{loop.index}}" class="carousel slide rounded" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            {% for image in realEstate.image %}
                                <button type="button" data-bs-target="#carouselExampleSlidesOnly{{ id }}" data-bs-slide-to={{ loop.index0 }} {% if loop.index == 1 %} class=" active" aria-current=" true" {% endif %} aria-label="Slide {{ loop.index0 }}"></button>
                            {% endfor %}
                        </div>
                        <div class="carousel-inner rounded-top">
                            {% for image in realEstate.image %}
                                <div class="carousel-item {% if loop.index == 1 %} active {% endif %}">
                                    <picture>
                                        <source srcset="{{image}}" type="image/svg+xml">
                                        <img src="" alt="..." class="img-fluid">
                                    </picture>
                                </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly{{loop.index}}" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly{{loop.index}}" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div class="row">
                        <h2 class="text-end text-danger fs-3 fw-bold text-center">{{realEstate.price | format_currency('EUR', {fraction_digit: 0})}} 
                            <span class="text-end text-dark">{{realEstate.city}}</span>
                        <h2/>
                        <a href="{{ path('app_real_estate_salesman') }}" class="btn" style="background:#000;border:1px solid black">
                            <i class="fa fa-arrow-left text-light" aria-hidden="true"></i>
                        </a>    
                    </div>
                </div>
            {% endfor %}
        {% endif %}  
    </div>

</section>    
    

{% endblock %}