{% extends 'real_estate_salesman/layout.html.twig' %}

{% block title %}Vente Immobilières
{% endblock %}

{% block body %}
    {% include "components/organisms/navbar.html.twig" %}


    <section class="home d-flex justify-content-start flex-column">
        <div class="container col col-12 col-sm-12 col-md-4">
            <form action="{{ path('app_real_estate_search') }}" method='get' class="d-flex">
                <input type="text" name="search-value" id="search" class="col-12 p-3 fw-bold fs-3" placeholder='Saisissez le lieux du futur bien (ex: Paris)'>
                {% embed "components/molecules/boxButtonSubmit.html.twig" with {
                    content: "Rechercher"
                        } %}
                    {% block content %}
                        <div class="mx-auto">
                            {% include "components/atoms/buttonSearch.html.twig" %}
                        </div>
                    {% endblock %}
                {% endembed %}
            </form>
        </div>
        <div class="container py-5">
            <div class="row">
                {% for data in datas %}
                    <div class="col-md-4">
                        <div {{ react_component('RealEstate', {'titre' :data.city, 'postalcode':data.postalCode, 'image':data.image, 'prix':data.price, 'path':path('app_real_estate_detail', {'reference':data.id}) }) }}></div>
                    </div>  
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
