@import url("https://fonts.googleapis.com/css2?family=Roboto");

// customize some Bootstrap variables
$success: #064a21;

.text-secondary {
  color: $secondary !important;
}

i {
  color: $secondary;
}

// creation of new classes
.text-font {
  font-family: Roboto, monospace;
}

.text-shadow {
  text-shadow: #070600 1px 0 10px;
}

$success-900: #021b0c;

.bg-success {
  --bs-bg-opacity: 1;

  background-color: $success-900 !important;
}

.cards {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgb(136 134 134);
  background-clip: border-box;
  border-radius: 4.25rem;
  z-index: 2;
  border: silver;
  background-image: linear-gradient(30deg, #000 50%, transparent 50%);
  background-size: 1500px;
  background-repeat: no-repeat;
  background-position: 0%;
  transition: background 300ms ease-in-out;
}

.cards:hover {
  background-position: 100%;
  color: $light !important;

  a.card-text {
    color: $light;
  }
}

.search {
  display: flex;
  height: 51px;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgb(136 134 134);
  background-clip: border-box;
  border-radius: 0 4.25rem 4.25rem 0;
  z-index: 2;
  border: silver;
  background-image: linear-gradient(30deg, #000 50%, transparent 50%);
  background-size: 1500px;
  background-repeat: no-repeat;
  background-position: 0%;
  transition: background 300ms ease-in-out;
  justify-content: center;
}

#search {
  border-radius: 4.25rem 0 0 4.25rem;
  border-color: #000;
  outline: #000;
}

.search:hover {
  background-position: 100%;
  color: $light !important;
}

.card-text {
  color: $light;
}

.card-text:hover {
  color: $light;
}

.kards {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgb(136 134 134);
  background-clip: border-box;
  border-radius: 4.25rem;
  border: silver;
  background-image: linear-gradient(30deg, #000 50%, transparent 50%);
  background-size: 2000px;
  background-repeat: no-repeat;
  background-position: 0%;
  transition: background 500ms ease-in-out;
}

.kards:hover {
  background-position: 100%;
  color: $light !important;
}

img.kards {
  max-width: 1000%;
  max-height: 40%;
}

.navigation {
  color: black;
  text-decoration: none;
  font-size: 2em;
}

a {
  color: #000;
  text-decoration: underline;
}

.pagination span a {
  text-decoration: none;
}

.pagination span a:hover {
  text-decoration: none;
  color: rgb(97 97 97);
}
