body {
  section#login {
    background-image: url("./../../public/images/home/bg1.jpg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    min-height: 100vh;
  }
}
