body {
  margin: 0;
  padding: 0;

  .btn-link {
    color: black;
  }

  .btn-link:focus,
  .btn-link:hover {
    color: $secondary;
    text-decoration: underline;
  }

  #registration-form-email {
    font-size: 2rem;
    line-height: 2.5;
    font-weight: bold;
    border-radius: 5px;
    outline-color: #000;
  }

  #registration-form-plain-password {
    font-size: 2rem;
    line-height: 2.5;
    font-weight: bold;
    border-radius: 5px;
    outline-color: #000;
  }

  #registration-form-plain-password:focus,
  #registration-form-plain-password:hover {
    border-color: #000;
  }

  #registration-form-email:focus,
  #registration-form-email:hover {
    border-color: #000;
  }

  .float-login {
    top: 10vh;
    right: 0;
  }

  .form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #000;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #000;
  }

  .form-check-input:focus {
    border-color: #000;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #fff0;
  }

  .form-check-input:checked {
    background-color: #000;
    border-color: #000;
  }

  .float-button {
    top: 5vh;
    left: 10vw;
  }

  .ceos {
    color: silver;
  }

  .ceosnav {
    color: #212529;
    border-color: #212529;
  }

  .carousel-indicators [data-bs-target] {
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }

  .divCarousel {
    height: 100%;
    padding: 0;

    .carousel-inner {
      height: 100%;

      .carousel-item {
        height: 100%;
      }
    }

    .carousel-item img {
      height: 100%;
      align-items: center;
      justify-content: center;
    }
  }
  .jean{
    border-radius: 10px 10px 0px 0px;
  }
  .papi{
    border-radius: 0px 0px 10px 10px;
  }
}
