{% extends 'contact/layout.html.twig' %}

{% block title %}
    Contactez Nous


{% endblock %}

{% block body %}


    <section class="home d-flex justify-content-start align-items-center flex-column">

        <div class="container" style="padding-top:100px">
          
          
            {% for message in app.flashes('notice') %}
                <div id="notice">
                    {% include "components/atoms/toast.html.twig" %}
                </div>
            {% endfor %}

            {% for label, messages in app.flashes(['success', 'warning']) %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show mt-3" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% include "/components/atoms/buttonFloat.html.twig" with {
            href:'app_home_index',
            font:'house'
            } %}
            <div class="bg-light p-2 rounded-pill opacity-75">
                <h2 class="m-auto text-center mt-5">
                    Contactez nous !
                </h2>
                {{ form_start(form) }}

                {% if app.user == true %}
                    <div class="d-none">
                        {{ form_row(form.email, {value : app.user.email}) }}
                    </div>

                    <div class="col-6 m-auto p-3 fw-bold fs-3" id="monForm">
                        {{ form_label(form.nom) }}
                        {{ form_widget(form.nom, {value : app.user.name}) }}
                        {{ form_errors(form.nom) }}
                    </div>

                    <div class="col-6 m-auto p-3 fw-bold fs-3" id="monForm">
                        {{ form_label(form.prenom) }}
                        {{ form_widget(form.prenom, {value : app.user.firstname}) }}
                        {{ form_errors(form.prenom) }}
                    </div>

                {% else %}
                    <div class="col-6 m-auto p-3 fw-bold fs-3" id="monForm">
                        {{ form_row(form.email) }}
                    </div>

                    <div class="col-6 m-auto p-3 fw-bold fs-3" id="monForm">
                        {{ form_label(form.nom) }}
                        {{ form_widget(form.nom) }}
                        {{ form_errors(form.nom) }}
                    </div>

                    <div class="col-6 m-auto p-3 fw-bold fs-3" id="monForm">
                        {{ form_label(form.prenom) }}
                        {{ form_widget(form.prenom) }}
                        {{ form_errors(form.prenom) }}
                    </div>

                {% endif %}
                <div class="col-6 m-auto p-3 fw-bold fs-3" id="monForm">
                    {{ form_row(form.sujet) }}
                </div>
                <div class="col-6 m-auto p-3 fw-bold fs-3" id="monForm">
                    {{ form_row(form.message) }}
                </div>
                {% embed "components/molecules/boxButtonSubmit.html.twig" with {
                    content: "Envoyer"
                        } %}
                    {% block content %}
                        <div class="mx-auto">
                            {% include "components/atoms/buttonSubmit.html.twig" %}
                        </div>
                    {% endblock %}
                {% endembed %}
            </div>
            {{ form_end(form) }}
        </div>

    </section>

{% endblock %}
