<a href={{ path(href) }} class="card-text {{class|default('fs-3')}} fw-bold text-center text-decoration-none text-dark">
    <div class="cards p-2 position-fixed float-button">
        <div class="card-body">
            <i class="fa-solid fa-{{font}} fs-1 ceos mx-4 float-start float-md-none "></i>
        </div>
    </div>
</a>
