<a href={{ path(href) }} class="text-decoration-none">
    <div class="cards">
        <div class="card-body card-text fw-bold fs-3">
            {% if font is defined %}
                <i class="fa-solid fa-{{font}} fs-1 ceos mx-4 float-start float-md-none "></i>
            {% endif %}
            {{content | default('')}}
        </div>
    </div>
</a>
