<button type="submit" class="search p-2">
  <div class="card-body">
    {% if font is defined %}
      <i class="fa-solid fa-{{
        font
        }} fs-1 text-warning mx-4 float-start float-md-none ">

      </i>
    {% endif %}
    <p class="card-text fs-2 fw-bold text-center">
      {{ content|default('') }}
    </p>
  </div>
</button>
