<div class="position-fixed bottom-50 end-0 p-3" style="z-index: 11">
  <div id="liveToast" class="toast bg-dark text-light" role="alert" aria-live="assertive" aria-atomic="true"data-bs-delay="5000">
    <div class="toast-header">
      <img src={{ asset('images/logo2.png') | imagine_filter("my_thumb") }} alt="maison philo">
      <strong class="me-auto"></strong>
      <small>{{small| default('Revenez plus tard')}}</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body bg-success text-light">
      {{message|default('Cette page est en cours de construction')}}
    </div>
  </div>
</div>