<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}Welcome!
            {% endblock %}
        </title>
        <link
        rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {# {{ encore_entry_link_tags('react') }} #}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {# {{ encore_entry_script_tags('react') }} #}
                  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>          
        {% endblock %}
    </head>
    <body>
        {% block header %} {% endblock %}
        {% block body %}{% endblock %}
        {% block name %}{% endblock %}
        {% block footer %}{% endblock %}
    </body>
</html>
