<nav class="nav">
    <div class="container">
    
    <div class="logo">
        {# <div id="react"></div> #}
        <a href="{{ path('app_home_index')}}"><img id="newLogo" src="{{ asset('/images/logo2.png') | imagine_filter('my_thumb1') }}"/></a> 
    </div>
    <div id="mainListDiv" class="main-list">
            <ul class="navlinks">
                <li>
                    <a href={{ path('app_contact_index') }} class="fs-2">
                        Nous Contacter
                    </a>
                </li>
                {% if not is_granted("ROLE_USER") %}
                <li>
                </li>
                    {% endif %}
                    {% if is_granted("ROLE_USER") %}
                <li>
                    <a data-swal-toast-template="#my-template" href={{ path('app_logout') }} class="rounded-circle">
                        <i class="fa-solid fa-right-from-bracket ceosnav p-3 border rounded-circle"></i>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
        <span class="nav-trigger">
            <i></i>
            <i></i>
            <i></i>
        </span>
    </div>
</nav>


<!-- Modal -->
{# <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body bg-dark d-flex justify-content-evenly text-nowrap text-center">

                {% embed "/components/molecules/boxButtonCard.html.twig" with {
                    content: 'Se connecter',
                    href: 'app_login',
                    class: 'fs-4'
                    
                } %}
                    {% block content %}
                        {% include "/components/atoms/buttonCard.html.twig" %}
                    {% endblock %}
                {% endembed  %}
                {% embed "/components/molecules/boxButtonCard.html.twig" with {
                    content: 'S\'inscrire',
                    href: 'app_register',
                    class: 'fs-4'
                    
                } %}
                    {% block content %}{% include "/components/atoms/buttonCard.html.twig" %}{% endblock %}    
                {% endembed  %}
                {% embed "/components/molecules/boxButtonCard.html.twig" with {
                    content: 'Contact',
                    href: 'app_contact_index',
                    class: 'fs-4'
                } %}
                    {% block content %}{% include "/components/atoms/buttonCard.html.twig" %}{% endblock %}    
                {% endembed  %}
                
            </div>
           
        </div>
    </div>
</div> #}
